/* page layout */
html,
body {
    margin: 0;
    padding: 0;
    background: #fefeff;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

body {
    background: linear-gradient(90deg, rgb(235 218 83 / 0.05) 20%, rgb(15 6 123 / 0.05) 80%);
    display: flex;
    flex-direction: column;
}

body>* {
    width: 100%;
}

.banner,
header,
main,
footer {
    max-width: 920px;
    margin: 0 auto;
    padding: 15px;
}

/* typography */
code {
    font-size: 14px;
    background: #f0f0f0;
}

/* header */
.banner {
    background: linear-gradient(90deg, #ebda53 20%, #0f067b 80%);
    height: 15px;
    padding: 0 15px;
}

header {
    background: linear-gradient(90deg, rgb(235 218 83 / 0.3) 20%, rgb(15 6 123 / 0.3) 80%);
    text-align: center;
}


h1 {
    padding: 15px;
    margin: 0;
}

h1 img {
    height: 21px;
}

main {
    background: white;
    padding-bottom: 100px;
    flex-grow: 1;
}

/* code containers */
.code-section {
    display: flex;
    flex-wrap: wrap;
}

.code-section> :first-child {
    margin-right: 15px;
}


.container {
    position: relative;
    width: 450px;
}

.editor,
.console {
    min-height: 50px;
}

.console {
    border-top: 1px solid grey;
}

.monaco-editor {
    padding-top: 10px;
}

pre {
    font-family: Consolas, "Courier New", monospace;
    padding: 10px;
    background: #1e1e1e;
    color: #d4d4d4;
    margin-top: 0;
}

/* container accessories */
.tag {
    display: inline-block;
    padding: 2px 6px;
}

.tag-js {
    background: #EBDA53;
}

.tag.tag-lua {
    background: #0F067B;
    color: white;
}

.bar {
    height: 4px;
    position: absolute;
    top: 20px;
    width: calc(100% - .5px);
}

.bar-js {
    background: #EBDA53;
}

.bar-lua {
    background: #0F067B;
}


/* footer */

footer {
    /* padding: 25px; */
    background: #393939;
    color: #fcf4e6;
    text-align: center;
}

footer a {
    color: #fcf4e6;
}


/* play button */
button.play {
    display: flex;
    padding: 2px 8px;
    float: right;
    align-items: center;
    border: 1px solid grey;
    border-radius: 2px 2px 0px 0px;
    background: whitesmoke;
    cursor: pointer;
    transition: background-color .4s ease;

}

button.play:hover,
button.play:focus,
button.play:active {
    background: #eaeaea;
}


button.play img {
    height: 10px;
    margin-left: 4px;
}

/* console "theme" */
.console .monaco-editor,
.console .monaco-editor-background,
.console .monaco-editor .inputarea.ime-input {
    background-color: black;
}

.console .monaco-editor .margin {
    background-color: black;
}

.console .monaco-editor .view-overlays .current-line {
    border-color: #121212;
}
